.bg-denim {
  background-color: #50667f !important;
}

.btn {
  border-radius: 0; /* fully round by default */
}

.main-content {
  position: fixed;
  top: 42px;
  bottom: 0px;
    overflow-y: scroll;
    padding: 50px;
    width: inherit;
}

code p {
  font-weight: lighter;
  font-size: 11px;
}

code, pre {
  font-family: 'Fira Mono Medium', Monaco, monospace;
  font-weight: bold;
  font-size: 13px;
  word-break: normal;
}
