.bg-denim {
  background-color: #607d9c !important;
}

.btn {
  border-radius: 0; /* fully round by default */
}

.txt-s {
  line-height: inherit;
}

.main-content {
  position: fixed;
  top: 48px;
  bottom: 0px;
  overflow-y: auto;
  padding-top: 24px;
  width: inherit;
}

code p {
  font-weight: lighter;
  font-size: 11px;
}

code, pre {
  font-family: 'Fira Mono Medium', Monaco, monospace !important;
  font-weight: bold !important;
  font-size: 13px !important;
  word-break: normal !important;
}

pre {
  background-color: #232323 !important;
}

.error, .warning, .info, .success	{
	border-left: 5px solid #FD0;
	padding: 10px 15px;
	margin-left: -20px;
	margin-right: -15px;
	background-color: #FAFAFA;
	border-radius: 2px;
}

.info {
	border-color: #56ADEC;
}

body .prose blockquote {
  border-left: 5px solid #56ADEC;
	background-color: #FAFAFA;
	border-radius: 2px;
  word-wrap: break-word;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
}

.toc {
  list-style-type: none;
  color: #ffffff;
  background: #232323;
  position: fixed;
  top: 42px;
  bottom: 0px;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 24px;
  width: inherit;
  border-right: 1px solid grey;
}

.toc-subheaders {
  font-size: 12px;
  display: inline-block;
  line-height: 20px;
  margin-bottom: 12px;
}

.page-hover:hover,
.toc-subheaders a:hover {
  color: #aab7ef;
}

/* Example cards */
.card-bg {
  background: #f4f7fb;
  width: 100%;
  position: fixed;
  overflow-y: auto;
}

.card-container {
  top: 48px;
  bottom: 0px;
  padding-bottom: 100px;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 375px;
  margin: 1rem;
  position: relative;
  width: 325px;
  vertical-align:top;
}

.card img {
  display: block;
  margin: auto;
}

.card h4, p {
  margin: 12px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
