.sticky-outer-wrapper.z1 > .sticky-inner-wrapper {
  z-index: 1 !important;
}

.txt-ms {
  font-size: 13px !important;
  line-height: 18px;
}

#docs-content.prose h1 {
  margin-top: 6px;
  margin-bottom: 30px;
  font-size: 36px;
}

#docs-content.prose h2 {
  font-weight: normal !important;
  cursor: pointer;
  font-size: 30px;
  border-top: 1px solid !important;
  border-color: #d6dee8 !important;
  padding-top: 60px;
  margin: 36px 0px 18px;
}

#docs-content.prose h3 {
  font-weight: normal;
  cursor: pointer;
  font-size: 24px;
  padding-top: 40px;
}

#docs-content.prose th {
  text-align: center;
  background-color: #f4f7fb;
}

#docs-content.prose td {
  text-align: center;
}

#docs-content.prose img {
  margin: 24px 0 36px 0;
}

.pt90 {
  padding-top: 90px !important;
}

.px48 {
  padding-right: 48px !important;
  padding-left: 48px !important;
}

.wmax900 {
  max-width: 900px !important;
}

.h480 {
  height: 480px !important;
}

.w480 {
  width: 480px !important;
}

.wmax480 {
  max-width: 480px !important;
}

@media screen and (min-width: 800px) {
  .w480-ml {
    width: 480px !important;
  }
  .px60-ml {
    padding-right: 60px !important;
    padding-left: 60px !important;
  }
}

@media screen and (min-width: 1200px) {
  .w600-mxl {
    width: 600px !important;
  }
  .px84-mxl {
    padding-right: 84px !important;
    padding-left: 84px !important;
  }
  .pt15-mxl {
    padding-top: 15px !important;
  }
}

.iphone-horizontal-padding {
  padding-top: 2.25%;
  padding-right: 1%;
  padding-left: 1%;
}

.unprose pre,
.prose pre {
  display: block;
  font-family: 'Menlo', 'Bitstream Vera Sans Mono', 'Monaco', 'Consolas',
    monospace;
  font-size: 12px;
  line-height: 1.5em;
  overflow-x: auto;
  background: #273d56 !important;
  color: #fff;
  padding: 12px;
  border-radius: 3px;
}
